.fullpage {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 100%;
}
.header {
    width: 100%;
    background-color: white;
    color: black;
    height: 3em;
}
.headerparent {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    position: relative;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: text;
}
.items {
    position: relative;
    float: right;
    bottom: 2.3em;
    right: 4px;
}
.content {
    padding: 10px;
}
.card {
    height: 9em;
}
ion-card {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carda {
    background-color: #faa499;
    background-image: linear-gradient(319deg, #faa499 0%, #f7dd85 37%, #ffc55c 100%);
}
.cardb {
    background-color: #f42b03;
    background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%);
}
.cardc {
    background-color: #ee8e6b;
    background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);
}
.cardd {
    background-color: #fffcf9;
    background-image: linear-gradient(315deg, #fffcf9 0%, #ffd166 74%);
}
.cententheight {
    color: white;
    font-family: "Saira Semi Condensed", sans-serif;
    font-size: 20px;
}
.payroll {
    text-align: center;
    font-family: "Yusei Magic", sans-serif;
    font-size: 30px;
}

.line-input {
    margin-bottom: 0 !important;
    ion-item {
        --border-color: transparent !important;
        --highlight-height: 0;
        border: 1px solid black;
        border-radius: 4px;

        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }

        ion-label {
            color: #807e7e !important;
            font-weight: 300;
            font-size: 1rem !important;
        }
    }
}

payrollform {
    width: 50%;
    display: flex;
    justify-content: center;
}
.removecardborder {
    box-shadow: none !important;
    background-color: white;
}
.table {
    color: black;
}

th {
    border: 2px solid black;
    padding: 2px;
    font-family: "Dosis", sans-serif;
}
.dosisfont {
    font-family: "Dosis", sans-serif;
}
//fonts
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

/* The side navigation menu */
.sidenav {
    margin-top: 2em;
    height: 100%; /* 100% Full-height */
    min-width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    font-family: Gotham;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
    color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

ion-item {
    border-bottom: 2px solid black;
}

ion-item:hover {
    cursor: pointer;
    border-bottom: 2px solid skyblue;
}
.label:hover {
    font-weight: bold;
    color: skyblue;
}
.a {
    background-size: 2px;
    font-size: 18px;
    font-family: text;
    color: black;
}
