.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  top: 1em;
  font-family: "Londrina Solid", cursive;
  text-align: center;
  color: black;
}
.imgheight {
  height: 15.3em;
}
.cards {
  position: relative;
  top: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  object-fit: cover;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.card-parent {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
ion-card {
  width: 80%;
}
ion-card:hover {
  cursor: pointer;
}
.card {
  background-color: blue;
  color: white;
  height: 20em;
  width: 20em;
}
.cententheight {
  text-align: center;
  position: relative;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

.line-input {
  margin-bottom: 10px !important;

  ion-item {
    --border-color: transparent !important;
    --highlight-height: 0;
    --background: white !important;
    border: 1px solid black;
    --color: white;
    border-radius: 4px;

    &.item-has-focus {
      border: 1px solid var(--ion-color-primary);
    }

    ion-label {
      color: black !important;
      font-weight: 300;
      font-size: 1rem !important;
    }
  }
}

///ANIMATIONS
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ion-input {
  color: black;
  ::placeholder {
    color: black !important;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ion-icon {
  color: black;
}
//vertical centre

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  height: 18em;
  width: 40em;
  padding: 15px;
  border-radius: 25px;
}

.loginpage {
  height: 100%;
  width: 100%;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6f0000, #200122); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #6f0000,
    #200122
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login {
  font-family: "Coda Caption", sans-serif;
}

.x {
  height: 100px;
  width: 100px;
  position: relative;
  float: right;
}

.x:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c"; /* use the hex value here... */
  font-size: 50px;
  color: white;
  line-height: 100px;
  text-align: center;
}

///fonts
//lordrina font

@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");
//nanum gothik
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap");

.bk {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6f0000, #200122); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #6f0000,
    #200122
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
