<ion-content>
  <div class="fade-in" *ngIf="width && !loginpage">
    <div class="header">
      <img style="height: 90px;object-fit: cover;" src="../../assets/tss-logo.png" alt="">
      SMART SCHOOL MISHKAT CAMPUS
      <br>

    </div>

    <div class="card-parent">

      <div *ngIf="width>=1200" class="cards">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card (click)="openLoginpage('student')" class="card">
                <img class="img imgheight" src="../../assets/logo.jpg" alt="">
                <ion-card-content class="cententheight">
                  STUDENT LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card (click)="openLoginpage('teacher')" class="card">
                <img class="img imgheight" src="../../assets/download.png" alt="">
                <ion-card-content class="cententheight">
                  TEACHER LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card (click)="openLoginpage('accountant')" class="card">
                <img class="img imgheight" src="../../assets/accountant.jfif" alt="">
                <ion-card-content class="cententheight">
                  ACCOUNTANT LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card (click)="openLoginpage('admin')" class="card">
                <img class="img imgheight" src="https://portal.cust.pk/images/as.jpg" alt="">
                <ion-card-content class="cententheight">
                  ADMIN LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="width>=900 && width<1200" class="cards">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-card (click)="openLoginpage('student')" class="card">
                <img class="img imgheight" src="../../assets/logo.jpg" alt="">
                <ion-card-content class="cententheight">
                  STUDENT LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="6">
              <ion-card (click)="openLoginpage('teacher')" class="card">
                <img class="img imgheight" src="../../assets/download.png" alt="">
                <ion-card-content class="cententheight">
                  TEACHER LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="6">
              <ion-card (click)="openLoginpage('accountant')" class="card">
                <img class="img imgheight" src="../../assets/accountant.jfif" alt="">
                <ion-card-content class="cententheight">
                  ACCOUNTANT LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="6">
              <ion-card (click)="openLoginpage('admin')" class="card">
                <img class="img imgheight" src="https://portal.cust.pk/images/as.jpg" alt="">
                <ion-card-content class="cententheight">
                  ADMIN LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="width>=100 && width<900" class="cards">
        <ion-grid>
          <ion-row>
            <ion-col size="8" offset="2.3">
              <ion-card (click)="openLoginpage('student')" class="card">
                <img class="img imgheight" src="../../assets/logo.jpg" alt="">
                <ion-card-content class="cententheight">
                  STUDENT LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="8" offset="2.3">
              <ion-card (click)="openLoginpage('teacher')" class="card">
                <img class="img imgheight" src="../../assets/download.png" alt="">
                <ion-card-content class="cententheight">
                  TEACHER LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="8" offset="2.3">
              <ion-card (click)="openLoginpage('accountant')" class="card">
                <img class="img imgheight" src="../../assets/accountant.jfif" alt="">
                <ion-card-content class="cententheight">
                  ACCOUNTANT LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="8" offset="2.3">
              <ion-card (click)="openLoginpage('admin')" class="card">
                <img class="img imgheight" src="https://portal.cust.pk/images/as.jpg" alt="">
                <ion-card-content class="cententheight">
                  ADMIN LOGIN
                </ion-card-content>
              </ion-card>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>

    </div>
    <div>
    </div>
  </div>

  <div class="loginpage" *ngIf="width && loginpage">

    <div (click)="openLoginpage('null')" class="x">

    </div>

    <div class="center">
      <ion-label style="color: black;" class="login">{{loginFor}} LOGIN</ion-label>


      <ion-item color="none" style="--background: white;border: 2px solid black;">
        <ion-icon color="light" slot="start" name="mail-outline"></ion-icon>
        <ion-input type="email" [(ngModel)]="email" placeholder="enter email"></ion-input>
      </ion-item>

      <div style="height: 10px;">

      </div>

      <ion-item color="none" style="--background: white;border: 2px solid black;" class="line-input">
        <ion-icon color="light" slot="start" name="lock-closed-outline">
        </ion-icon>
        <ion-input type="{{inputtyp}}" [(ngModel)]="password" placeholder="enter password"></ion-input>
        <ion-icon color="light" (click)="passwordtoggler()" *ngIf="!showhidepass" name="eye-outline"></ion-icon>
        <ion-icon color="light" (click)="passwordtoggler()" *ngIf="showhidepass" name="eye-off-outline"></ion-icon>
      </ion-item>

      <ion-button (click)="loginvalidator()" expand="block" shape="round" mode="ios" color="none"
        style="background: black;color: white;"> LOGIN
      </ion-button>
    </div>
  </div>
</ion-content>