<ion-content>
  <div>
    <div
      style="display: flex;justify-content: center;align-items: center;font-size: 4em;padding: 10px;font-family: 'Lobster', cursive;">
      BILLS MANAGEMENT
    </div>
    <div>


      <div class="table-wrapper">
        <table class="fl-table">
          <thead>
            <tr>
              <th>NAME</th>
              <th>AMOUNT</th>
              <th>MONTH</th>
              <th>ACTION</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of fees">
              <td>{{item.studentname}}</td>
              <td>{{item.feeamount}}</td>
              <td>{{item.duedate}}</td>
              <td>
                <ion-button color="success" (click)="paynow(item.docID)">PAY</ion-button>
              </td>

            </tr>

          <tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>